<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-home"></i> {{group.title}}</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i>Accueil</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 portlets">
        <!-- Widget -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left">Message</div>
                <div class="widget-icons pull-right">
                    <a class="wminimize" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a class="wclose" href="#"><i class="fa fa-times"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-body">
                <!-- Widget content -->
                <div class="padd sscroll">
                    <form name="createMessageForm" class="form-inline" ng-submit="createMessage()">
                        <div class="form-group">
                            <input type="text" placeholder="Type your message here..." class="form-control" ng-required="true" ng-model="form_message.content">
                        </div>
                        <button ng-disabled="createMessageForm.$invalid" class="btn btn-info" type="submit">Send</button>
                    </form>
                    <ul class="chats">

                        <!-- Chat by us. Use the class "by-me". Chat by other. Use the class "by-other". -->
                        <li ng-repeat="message in messages" ng-class="loadClassMessageTypeSender(message)">
                            <!-- Use the class "pull-left" in avatar -->
                            <div class="avatar" ng-class="loadClassMessageTypeSender(message, 'pull-left', 'pull-right')">
                                <customer-avatar ng-height="35" ng-width="35" profile="message.player"></customer-avatar>
                            </div>

                            <div class="chat-content">
                                <!-- In meta area, first include "name" and then "time" -->
                                <div class="chat-meta"><span ng-bind="message.player.username" ng-class="loadClassMessageTypeSender(message, '', 'pull-right')"></span> <span ng-class="loadClassMessageTypeSender(message, 'pull-right', '')" am-time-ago="message.created"></span></div>
                                <span ng-bind="message.content"></span>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>