<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-home"></i> {{group.title}}</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i>Accueil</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 portlets">
        <!-- Widget -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left">Message</div>
                <div class="widget-icons pull-right">
                    <a class="wminimize" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a class="wclose" href="#"><i class="fa fa-times"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-body">
                <!-- Widget content -->
                <div class="padd sscroll">

                    <ul class="chats">

                        <!-- Chat by us. Use the class "by-me". Chat by other. Use the class "by-other". -->
                        <li class="by-me" ng-repeat="message in messages">
                            <!-- Use the class "pull-left" in avatar -->
                            <div class="avatar pull-left">
                                <!--<img alt="" src="images/user.jpg">-->
                            </div>

                            <div class="chat-content">
                                <!-- In meta area, first include "name" and then "time" -->
                                <div class="chat-meta">John Smith <span class="pull-right">3 hours ago</span></div>
                                <span ng-bind="message.content"></span>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>

                </div>
                <!-- Widget footer -->
                <div class="widget-foot">

                    <form name="createMessageForm" class="form-inline" ng-submit="createMessage()">
                        <div class="form-group">
                            <input type="text" placeholder="Type your message here..." class="form-control" ng-required="true" ng-model="form_message.content">
                        </div>
                        <button ng-disabled="createMessageForm.$invalid" class="btn btn-info" type="submit">Send</button>
                    </form>


                </div>
            </div>


        </div>
    </div>
</div>