include "header.html"

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" ng-controller="UserController">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Bienvenue <span ng-show="currentUser">{{currentUser.firstname}} {{currentUser.lastname}}</span></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href ng-click="main.setActivePage('accueil.html')">Accueil</a>
                </li>
                <li>
                    <a href ng-click="main.setActivePage('mur.html')">Mur de messages</a>
                </li>
                <li>
                    <a href ng-click="main.setActivePage('chronique.html')">Chronique</a>
                </li>
                <li>
                    <a href ng-click="main.setActivePage('calendar.html')">Calendrier</a>
                </li>
                <li>
                    <a href ng-click="main.setActivePage('mj.html')">MJ</a>
                </li>
                <!--
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">

            <div ng-include="main.activePage"></div>

        </div>
    </div>
</header>

include "footer.html"